<h1>Data Science Tools and Ecosystem</h1>
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:1. Python
2.C.
    C++m.
   C1em.Javaist.st.

1. Python
2.jAVA.
3Ct.

Some of the commonly used libraries used by Data Scientists include:

1. Plotly
2. Matplot
3. Seaborn

Data Science Tools:
1. Apache spark
2. Hadoop
3. keras

Question7:

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
#question8

#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#question 9
#his will convert 200 minutes to hours by diving by 60

min = 200
hr = 200/60
hr

3.3333333333333335

**Objectives**

## Yurui Huang